@page
@model PRN221_Assignment.Pages.mess.IndexModel
@{
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .emojione{
        width: 20px;
    }
</style>
<div class="container-fluid relative">
    <div class="overlay-group hidden"></div>
    <popup-follower class="hidden">
        <div class="header-popup-create-group">Creating group</div>
        <form id="form-create-group" method="post" asp-page-handler="CreateGroup">
            <div class="set-group-name">
                Group name:
                <input class="group-name input-create-group-name" placeholder="Enter your group name..." asp-for="@Model.NameGroup" type="text" />
            </div>
            <div class="body-popup-create-group">
                <div class="wrapper-select">
                    @foreach (var acc in Model.listFollowerToGroup)
                    {
                        <div class="follower-group flex justify-content-between align-center" onclick="selectAccount(this)">
                            <div class="left-select">
                                <img src="@acc.Info.Image" class="avt-follower-select" />
                                <span class="username-follower-select">@acc.Info.userName</span>
                                <div class="follower-id hidden" data-followerid="@acc.UserID"></div>
                            </div>
                            <div class="right-select">
                                <input class="custom-checkbox" type="checkbox" name="SelectedUsers" value="@acc.UserID" />
                            </div>
                        </div>
                    }
                    <div class="btn-create-group">Create</div>
                </div>
            </div>
        </form>
    </popup-follower>
    <div class="hidden currentuserid" data-currentuserid="@Model.currentUserId"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="mess_left_container flex flex-column " style="margin-left: 30px">
                <div class="header_mess_left pr-4 flex justify-between ">
                    <div class="flex align-center">
                    </div>
                    <div class="btn-group">
                        <svg aria-label="Messages" style="color:rgb(245,245,245)" class="" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><title>Tin nhắn mới</title><path d="M12.202 3.203H5.25a3 3 0 0 0-3 3V18.75a3 3 0 0 0 3 3h12.547a3 3 0 0 0 3-3v-6.952" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><path d="M10.002 17.226H6.774v-3.228L18.607 2.165a1.417 1.417 0 0 1 2.004 0l1.224 1.225a1.417 1.417 0 0 1 0 2.004Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.848" x2="20.076" y1="3.924" y2="7.153"></line></svg>
                    </div>
                </div>
                <div class="header_left_body mt-20" style="overflow-y: auto; max-height: 70vh;">
                    <image-work class="flex gap-10 " style="overflow-x:auto">
                        @foreach (var follower in Model.listFollower)
                        {
                            <div class="flex flex-column relative align-center wrapper-avt-follower-up circle-@follower.UserID" style="flex-shrink: 0" onclick="showBoxChatSingle(this)">
                                <div class="follower-id hidden" data-followerid="@follower.UserID"></div>
                                <img src="@follower.Info.Image" width="65" height="65" class="rounded-50 mb-2 avt-follower-up" />
                                <span class="username-follower-up body-weight fs-12" style="color: rgb(245,245,245)">@follower.Info.userName</span>
                                <span class="fullname-follower-up body-weight fs-12 hidden" style="color: rgb(245,245,245)">@follower.Info.Name</span>
                                <span class="absolute online">

                                </span>
                            </div>
                        }
                    </image-work>
                    <div class="mess_concept mt-10 flex py-4 pr-4 justify-between align-center">
                        <span class="bold whitespace-nowrap fs-20 " style="color:rgb(245,245,245)">
                            Messages
                        </span>
                        <div class="font-body whitespace-nowrap fs-15" style="color:rgb(245,245,245)">
                        </div>
                    </div>
                    <div class="inbox pr-4">
                        <inbox>
                            @foreach (var person in Model.listFollowerDown)
                            {
                                @if (person.type == false)
                                {
                                    <user-chat class="py-4 d-block user-chat-@person.IdToClick" onclick="clickShow(@person.IdToClick)">
                                        <div class="user_chat_wrapper w-full flex gap-20 align-center">
                                            <div class="user_image relative" style="width: 56px;">
                                                <img src="@person.displayAvt" class="rounded-50 w-full" style="object-fit: cover; height: 56px;" />
                                                <span class="absolute online"></span>
                                            </div>
                                            <div class="flex-1 user_mess flex gap-3 flex-column" style="max-width: calc(100% - 56px - 20px)">
                                                <span class="font-body w-full lh-1 d-block fs-18" style="color:rgb(245,245,245)">@person.displayUsername</span>
                                                <p class="font-body w-full d-block ellipsis lh-1  fs-15" style="color:rgb(245,245,245); opacity: 0.8; margin:0">
                                                    @(person.whose == "other" ? "" : "You: ")@person.Content
                                                </p>
                                            </div>
                                        </div>
                                    </user-chat>
                                } else
                                {
                                    <user-chat class="py-4 d-block user-chat-@person.IdToClick-group" onclick="showBoxChatGroup(this)">
                                        <div class="group-id" data-groupid="@person.IdToClick"></div>
                                        <div class="user_chat_wrapper w-full flex gap-20 align-center">
                                            <div class="user_image relative" style="width: 56px;">
                                                <img src="@person.displayAvt" class="rounded-50 w-full" style="object-fit: cover; height: 56px;" />
                                                <span class="absolute online"></span>
                                            </div>
                                            <div class="flex-1 user_mess flex gap-3 flex-column group-name" style="max-width: calc(100% - 56px - 20px)">
                                                <span class="font-body w-full lh-1 d-block fs-18" style="color:rgb(245,245,245)">@person.displayUsername</span>
                                                <p class="font-body w-full d-block ellipsis lh-1  fs-15" style="color:rgb(245,245,245); opacity: 0.8; margin:0">
                                                    @(person.whose == "other" ? "" : "You: ")@person.Content
                                                </p>
                                            </div>
                                        </div>
                                    </user-chat>
                                }

                            }
                        </inbox>
                    </div>

                </div>

            </div>

        </div>
        <div class="right-panel col-md-8 hidden">
            <form method="post" enctype="multipart/form-data"></form>
            <div class="chat">
                <chat>
                    <div class="header_chat pb-2 flex justify-between align-center">
                        <div class="left_chat_header flex gap-10 align-center">
                            <div class="user_image relative avt-partner" style="width:44px;">
                                <img src="" class="rounded-50 w-full" style="object-fit: cover; height: 44px;" />
                                <span class="absolute online"></span>
                            </div>
                            <div>
                                <span class="username-partner font-body w-full lh-1  d-block fs-15" style="color:rgb(245,245,245);margin-bottom: 5px;">ch.oai</span>
                                <span class="font-body w-full lh-1 d-block fs-12" style="color:rgb(245,245,245);opacity: 0.5;">Hoạt động 13 giờ trước</span>

                            </div>
                        </div>
                        <div class="right_chat_header">
                            <div class="right">
                                <span>
                                    <svg aria-label="Thông tin về cuộc trò chuyện" style="color:rgb(245,245,245)" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><title>Thông tin về cuộc trò chuyện</title><circle cx="12.001" cy="12.005" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle><circle cx="11.819" cy="7.709" r="1.25"></circle><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="10.569" x2="13.432" y1="16.777" y2="16.777"></line><polyline fill="none" points="10.569 11.05 12 11.05 12 16.777" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline></svg>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="main-chat" style="overflow-y: auto;height: 65vh ; max-height: 65vh">
                        <div class="chat_body flex flex-column gap-10 align-center">
                            <div class="user_image relative avt-partner user-image-big" style="width:96px;">
                                <img src="" class="rounded-50 w-full" style="object-fit: cover; height: 96px;" />
                                <span class="absolute online"></span>
                            </div>
                            <div class="font-body text-center w-full lh-1  d-block fs-15 fullname-partner" style="color:rgb(245,245,245);">
                            </div>
                            <div class="font-body text-center w-full lh-1  d-block fs-15 username-partner group-chat" style="color:rgb(245,245,245);opacity: 0.5">
                                <span></span>
                            </div>
                            <a href="" class="button_profile fs-15 " style="color:rgb(245,245,245);">View profile</a>
                        </div>
                        <div class="main_mess">
                        </div>
                    </div>
                    <div class=" write-comment-wrapper w-full mess_input  justify-content-around">
                        <div class="write-comment-box-wrapper relative">
                            <textarea id="myTextarea" placeholder="Type your message here..." type="text" name="mess" class="mess w-full input-message"></textarea>
                            <div class="absolute flex align-center icon_chat" style="right: 20px;">
                         
                                <emoji-chat class="write-comment-btn-emoji px-2">
                                    <div class="emoji-button">
                                        <i class="fa-solid fa-face-smile"></i>
                                    </div>
                                </emoji-chat>
                                <div class="write-comment-btn-submit px-2">
                                    <i class="fa-solid fa-paper-plane icon-submit"></i>
                                </div>
                            </div>
                        </div>


                    </div>

                </chat>
            </div>

        </div>
    </div>
</div>


