@page "/followers"
@model PRN221_Assignment.Pages.FollowersManagement.IndexModel
@{
}
<div class="page">
    <div class="main">
        @foreach (var fl in Model.myFollower)
        {
            <follower>
                <div class="follower-wrapper">
                    <a href="/profile?userId=@fl.UserID" class="a-link-follower">
                        <div class="follower-wrapper-person">
                            <div class="follower-avt-wrapper">
                                <img src="@fl.Info.Image" class="follower-avt" />
                            </div>
                            <div class="follower-info-wrapper">
                                <div class="follower-info">
                                    <div class="follower-username">@fl.Info.userName</div>
                                    <div class="follower-fullname">@fl.Info.Name</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="follower-btn-wrapper">
                        @if (Model.myFollowerCorrect[fl.UserID] == true && fl.UserID != Model.myCurrentId)
                        {
                            <div class="follower-btn-unfollow" onclick="doUnFollow(@fl.UserID)">Unfollow</div>
                        }
                        @if (Model.myFollowerCorrect[fl.UserID] == false && fl.UserID != Model.myCurrentId)
                        {
                            <div class="follower-btn-follow" onclick="doFollow(@fl.UserID)">Follow</div>
                        }
                    </div>
                </div>
                <div class="line"></div>
            </follower>
        }
    </div>
    <form method="post" enctype="multipart/form-data"></form>
</div>
