@page
@model PRN221_Assignment.Pages.Profile.DetailPostModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN221_Assignment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/critical.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/library/popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/library/swiper-bundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/library/tingle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/profile/profile.css" />
    <link href="~/css/library/photoswipe.css" rel="stylesheet" />
</head>

<body>
    <div class="page">
        <div class="main">
            <div class="back-page">
                <a class="a-back-page">
                    <i class="fa-solid fa-arrow-left icon-back"></i>
                </a>
            </div>
            <thread-detail data-custom-class="custom-thread-detail-like">
                <div class="detail-post-wrapper">
                    <thread-detail-like class="wrapper-detail-like-box hidden">
                        <div class="detail-like-box ">
                            <div class="detail-like-header">
                                <div class="detail-like--title">Likes</div>
                                <div class="detail-like--line"></div>
                            </div>
                            <div class="detail-like-content">
                                @foreach (var detail in Model.listPersonReact)
                                {
                                    <div class="detail-like-person">
                                        <div class="person-info">
                                            <img src="@detail.Info.Image" class="person-avt" />
                                            <div class="person-name">
                                                <div class="person-username">@detail.Info.userName</div>
                                                <div class="person-fullname">@detail.Info.Name</div>
                                            </div>
                                        </div>
                                        <div class="person-follow-status">
                                            <div class="btn-follow hide">Follow</div>
                                            <div class="btn-unfollow ">Unfollow</div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </thread-detail-like>
                    <div class="detail-header-wrapper">
                        <div class="detail-header-author">
                            <img src="@Model.SelectedThread.Account.Info.Image" class="avt-author" />
                            <div class="wrapper-author">
                                <div class="info-author">
                                    <a href="/profile?userId=@Model.SelectedThread.Account.UserID" class="username-author">@Model.SelectedThread.Account.Info.userName</a>
                                    <span data-submit-date="@Model.SelectedThread.SubmitDate.ToString("yyyy-MM-ddTHH:mm:ss.fffffff")" class="time"></span>
                                </div>
                            </div>
                        </div>


                        <div class="option-icon">
                            <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                     class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                     style="fill: #777777; --height: 20px; --width: 20px;">
                                    <title>Xem thêm</title>
                                    <circle cx="12" cy="12" r="1.5"></circle>
                                    <circle cx="6" cy="12" r="1.5"></circle>
                                    <circle cx="18" cy="12" r="1.5"></circle>
                                </svg>
                            </icon>
                        </div>
                    </div>
                    <div class="detail-caption">
                        <div class="view-detail-post">
                            <div class="caption detail">@Model.SelectedThread.Content</div>

                            @if (@Model.SelectedThread.ThreadImages.Count != 0)
                            {
                                <div class="slide-image w-full">
                                    <slide-section class="swiper w-full free-scroll"
                                                   data-section-id="template--16740126261401__collection_list_VmEYkJ"
                                                   data-autoplay="false"
                                                   data-effect="slide"
                                                   data-loop="false"
                                                   data-speed="800"
                                                   data-autoplay-speed="5"
                                                   data-spacing="10"
                                                   data-mobile="1"
                                                   data-tablet="2"
                                                   data-desktop="1.5"
                                                   data-free-scroll="true"
                                                   data-pagination-progressbar="false"
                                                   id="@Model.SelectedThread.ThreadId">
                                        <div class="swiper-wrapper" id="gallery--getting-started-@Model.SelectedThread.ThreadId">
                                            @foreach (var i in @Model.SelectedThread.ThreadImages)
                                            {
                                                <div class="swiper-slide">
                                                    @if (i.Media.EndsWith("mp4"))
                                                    {
                                                        <custom-media class="h-full pointer d-block">
                                                            <video src="@i.Media" controls></video>
                                                        </custom-media>
                                                    }
                                                    else
                                                    {
                                                        <custom-media class="h-full rounded-style overflow-hidden">
                                                            <a data-pswp-src="@i.Media">
                                                                <img src="@i.Media" class="w-full rounded-10" />
                                                            </a>
                                                        </custom-media>
                                                    }
                                                </div>
                                            }

                                        </div>
                                    </slide-section>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="detail-react">
                        <div class="react-wrapper">
                            <div class="wrapper-react-num">
                                <div class="heart flex @(Model.reactedYet == true ? "reacted" : "")"> @*Cái này mai sửa*@
                                    <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                         style="--fill: transparent; --height: 19px; --width: 20px;">
                                        <title>Thích</title>
                                        <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                        </path>
                                    </svg>
                                    <div class="num-like number transition detail-like detail overflow-hidden flex-column">
                                        <div class="main_number transition fs-12">
                                            @Model.SelectedThread.React
                                        </div>

                                    </div>
                                    <div class="hidden thread-id">@Model.SelectedThread.ThreadId</div>
                                </div>

                            </div>
                            <div class="wrapper-react-num">
                                <div class="comment comment-of-post">
                                    <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                         style="--fill: currentColor; --height: 20px; --width: 20px;">
                                        <title>Trả lời</title>
                                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                    </svg>
                                </div>
                                <div class="num-comment detail-comment">@Model.numOfComment</div>
                            </div>
                            <div class="wrapper-react-num">
                                <div class="re-post">
                                    <svg width="20" height="19" aria-label="Đăng lại" role="img" viewBox="0 0 24 24"
                                         style="--fill: currentColor; --height: 20px; --width: 20px; stroke-width: 1;">
                                        <title>Đăng lại</title>
                                        <path d="M19.998 9.497a1 1 0 0 0-1 1v4.228a3.274 3.274 0 0 1-3.27 3.27h-5.313l1.791-1.787a1 1 0 0 0-1.412-1.416L7.29 18.287a1.004 1.004 0 0 0-.294.707v.001c0 .023.012.042.013.065a.923.923 0 0 0 .281.643l3.502 3.504a1 1 0 0 0 1.414-1.414l-1.797-1.798h5.318a5.276 5.276 0 0 0 5.27-5.27v-4.228a1 1 0 0 0-1-1Zm-6.41-3.496-1.795 1.795a1 1 0 1 0 1.414 1.414l3.5-3.5a1.003 1.003 0 0 0 0-1.417l-3.5-3.5a1 1 0 0 0-1.414 1.414l1.794 1.794H8.27A5.277 5.277 0 0 0 3 9.271V13.5a1 1 0 0 0 2 0V9.271a3.275 3.275 0 0 1 3.271-3.27Z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="num-share detail-share detail">@Model.SelectedThread.Share</div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-separate-line"></div>
                </div>
                <comment-box class="comment-box">
                    @if (Model.listOriginalComment.Count != 0)
                    {
                        @foreach (var box in Model.listOriginalComment)
                        {
                            @*comment-wrapper là bắt đầu khung hội thoại mới*@
                            <div class="comment-wrapper">
                                @*Moi 1 comment-author la 1 binh luan, author hay reply cung nhu nhau het, khac class thoi*@
                                <comment-author data-custom-class="comment-detail-like-box" class="comment-author">
                                    <comment-detail-like class="wrapper-detail-like-box hidden">
                                        <div class="detail-like-box ">
                                            <div class="detail-like-header">
                                                <div class="detail-like--title">Likes</div>
                                                <div class="detail-like--line"></div>
                                            </div>
                                            <div class="detail-like-content">
                                                <div class="detail-like-person">
                                                    <div class="person-info">
                                                        <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                        <div class="person-name">
                                                            <div class="person-username">giu_giot_le_sau</div>
                                                            <div class="person-fullname">Sát thủ đa tình</div>
                                                        </div>
                                                    </div>
                                                    <div class="person-follow-status">
                                                        <div class="btn-follow hide">Follow</div>
                                                        <div class="btn-unfollow ">Unfollow</div>
                                                    </div>
                                                </div>
                                                <div class="detail-like-person">
                                                    <div class="person-info">
                                                        <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                        <div class="person-name">
                                                            <div class="person-username">giu_giot_le_sau</div>
                                                            <div class="person-fullname">Tối thứ 7</div>
                                                        </div>
                                                    </div>
                                                    <div class="person-follow-status">
                                                        <div class="btn-follow hide">Follow</div>
                                                        <div class="btn-unfollow">Unfollow</div>
                                                    </div>
                                                </div>
                                                <div class="detail-like-person">
                                                    <div class="person-info">
                                                        <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                        <div class="person-name">
                                                            <div class="person-username">giu_giot_le_sau</div>
                                                            <div class="person-fullname">Tối chủ nhật</div>
                                                        </div>
                                                    </div>
                                                    <div class="person-follow-status">
                                                        <div class="btn-follow">Follow</div>
                                                        <div class="btn-unfollow hide">Unfollow</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </comment-detail-like>
                                    <div class="comment-left-wrapper">
                                        <img src="@box.Comment.Account.Info.Image" class="author-comment-avt" />
                                        <div class="author-comment-content">
                                            <div class="author-comment-header">
                                                <a href="/profile?userId=@box.Comment.Account.UserID" class="author-name">@box.Comment.Account.Info.userName</a>
                                                <div data-submit-date="@box.Comment.CreatedAt.ToString("yyyy-MM-ddTHH:mm:ss.fffffff")" class="author-comment-time"></div>
                                            </div>
                                            <div class="author-comment-body">
                                                <commet-content class="comment-content">@box.Comment.Content</commet-content>
                                                @if (box.Comment.CommentImages.Count != 0)
                                                {
                                                    <img src="@box.Comment.CommentImages.First().Media" class="comment-picture">
                                                }
                                            </div>
                                            <div class="author-comment-footer">
                                                <div class="react-wrapper author-comment-react @(box.Conversations.Count != 0 ? "more-reply" : "")">
                                                    @*
                                                    <div class="wrapper-react-num">
                                                        <div class="heart flex ">
                                                            <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                                                 style="--fill: transparent; --height: 19px; --width: 20px;">
                                                                <title>Thích</title>
                                                                <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                                                </path>
                                                            </svg>

                                                            <div class="num-like number transition detail-like detail comment-detail-like-link overflow-hidden  flex-column">
                                                                <div class="main_number transition fs-12">
                                                                    @box.Comment.React
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    *@
                                                    <div class="wrapper-react-num" onclick="clickReply(event)">
                                                        <div class="comment">
                                                            <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                                                 style="--fill: currentColor; --height: 20px; --width: 20px;">
                                                                <title>Trả lời</title>
                                                                <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                                            </svg>
                                                        </div>
                                                        <div class="num-comment detail-comment">@box.Conversations.Count(x => x.ThreadCommentId == box.ThreadCommentId)</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-right-wrapper">
                                        <div class="option-icon">
                                            <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                                <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                                     class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                                     style="fill: #777777; --height: 20px; --width: 20px;">
                                                    <title>Xem thêm</title>
                                                    <circle cx="12" cy="12" r="1.5"></circle>
                                                    <circle cx="6" cy="12" r="1.5"></circle>
                                                    <circle cx="18" cy="12" r="1.5"></circle>
                                                </svg>
                                            </icon>
                                        </div>
                                    </div>
                                    @if (box.Conversations.Count != 0)
                                    {
                                        <div class="view-reply-wrapper btn-view-more">
                                            <div class="view-reply-line"></div>
                                            <div class="view-reply">(@(box.Conversations.Count)) more reply</div>
                                        </div>
                                    }
                                </comment-author>
                                <div class="reply-area hidden">
                                    @foreach (var rep in Model.listReplyDetail)
                                    {
                                        @if (rep.ThreadCommentId == box.ThreadCommentId)
                                        {
                                            <comment-author data-custom-class="comment-detail-like-box" class="comment-author comment-reply">
                                                <comment-detail-like class="wrapper-detail-like-box hidden">
                                                    <div class="detail-like-box ">
                                                        <div class="detail-like-header">
                                                            <div class="detail-like--title">Likes</div>
                                                            <div class="detail-like--line"></div>
                                                        </div>
                                                        <div class="detail-like-content">
                                                            <div class="detail-like-person">
                                                                <div class="person-info">
                                                                    <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                                    <div class="person-name">
                                                                        <div class="person-username">giu_giot_le_sau</div>
                                                                        <div class="person-fullname">Sát thủ đa tình</div>
                                                                    </div>
                                                                </div>
                                                                <div class="person-follow-status">
                                                                    <div class="btn-follow hide">Follow</div>
                                                                    <div class="btn-unfollow ">Unfollow</div>
                                                                </div>
                                                            </div>
                                                            <div class="detail-like-person">
                                                                <div class="person-info">
                                                                    <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                                    <div class="person-name">
                                                                        <div class="person-username">giu_giot_le_sau</div>
                                                                        <div class="person-fullname">Tối thứ 7</div>
                                                                    </div>
                                                                </div>
                                                                <div class="person-follow-status">
                                                                    <div class="btn-follow hide">Follow</div>
                                                                    <div class="btn-unfollow">Unfollow</div>
                                                                </div>
                                                            </div>
                                                            <div class="detail-like-person">
                                                                <div class="person-info">
                                                                    <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                                    <div class="person-name">
                                                                        <div class="person-username">giu_giot_le_sau</div>
                                                                        <div class="person-fullname">Tối chủ nhật</div>
                                                                    </div>
                                                                </div>
                                                                <div class="person-follow-status">
                                                                    <div class="btn-follow">Follow</div>
                                                                    <div class="btn-unfollow hide">Unfollow</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </comment-detail-like>
                                                <div class="comment-left-wrapper">
                                                    <img src="@rep.Image" class="author-comment-avt" />
                                                    <div class="author-comment-content">
                                                        <div class="author-comment-header">
                                                            <a href="/profile?userId=@rep.UserID" class="author-name">@rep.userName</a>
                                                            <div data-submit-date="@rep.CreatedAt.ToString("yyyy-MM-ddTHH:mm:ss.fffffff")" class="author-comment-time"></div>
                                                        </div>
                                                        <div class="author-comment-body">
                                                            <commet-content class="comment-content">@rep.Content</commet-content>
                                                            @if (rep.Media != null)
                                                            {
                                                                <img src="@rep.Media" class="comment-picture">
                                                            }
                                                        </div>
                                                        <div class="author-comment-footer">
                                                            <div class="react-wrapper author-comment-react">
                                                                @*
                                                                <div class="wrapper-react-num">
                                                                    <div class="heart flex">
                                                                        <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                                                             style="--fill: transparent; --height: 19px; --width: 20px;">
                                                                            <title>Thích</title>
                                                                            <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="num-like number transition detail-like detail comment-detail-like-link overflow-hidden  flex-column">
                                                                            <div class="main_number transition fs-12">@rep.React</div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                *@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-right-wrapper">
                                                    <div class="option-icon">
                                                        <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                                            <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                                                 class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                                                 style="fill: #777777; --height: 20px; --width: 20px;">
                                                                <title>Xem thêm</title>
                                                                <circle cx="12" cy="12" r="1.5"></circle>
                                                                <circle cx="6" cy="12" r="1.5"></circle>
                                                                <circle cx="18" cy="12" r="1.5"></circle>
                                                            </svg>
                                                        </icon>
                                                    </div>
                                                </div>
                                            </comment-author>
                                        }
                                    }
                                </div>
                                <div class="reply-box hidden">
                                    <form class="replyForm" method="post">
                                        <comment-reply class="write-reply-wrapper flex flex-column ">
                                            <div class="flex align-center w-full justify-content-around">
                                                <div class="write-reply-account">
                                                    <img src="@Model.currentAccount.Info.Image" class="write-reply-account-avt" />
                                                </div>
                                                <div class="write-reply-box-wrapper ">
                                                    <div class="currentThreadId-reply" data-threadId="@Model.SelectedThread.ThreadId" hidden></div>
                                                    <div class="type-comment-reply" data-type="reply" hidden></div>
                                                    <div class="threadCommentIdInsert" data-threadCommentId="@box.ThreadCommentId" hidden></div>
                                                    <input placeholder="Reply to @(box.Comment.Account.Info.userName)" name='comment' type="text" class="write-reply-box-content" />
                                                </div>
                                                <div class="create_image relative px-2 thread_main_icon heart">
                                                    <svg width="20" height="20" aria-label="Đính kèm file phương tiện" role="img" viewBox="0 0 24 24" class="x1lliihq pointer xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn" style="--fill: currentColor; --height: 20px; --width: 20px;"><title>Đính kèm file phương tiện</title><g><path clip-rule="evenodd" d="M2.00207 9.4959C1.65132 7.00019 1.47595 5.75234 1.82768 4.73084C2.13707 3.83231 2.72297 3.05479 3.50142 2.50971C4.38639 1.89005 5.63425 1.71467 8.12996 1.36392L10.7047 1.00207C13.2004 0.651325 14.4482 0.47595 15.4697 0.827679C16.3682 1.13707 17.1458 1.72297 17.6908 2.50142C17.9171 2.82454 18.0841 3.19605 18.2221 3.65901C17.7476 3.64611 17.2197 3.64192 16.6269 3.64055C16.5775 3.5411 16.5231 3.44881 16.4621 3.36178C16.0987 2.84282 15.5804 2.45222 14.9814 2.24596C14.3004 2.01147 13.4685 2.12839 11.8047 2.36222L7.44748 2.97458C5.78367 3.20841 4.95177 3.32533 4.36178 3.73844C3.84282 4.10182 3.45222 4.62017 3.24596 5.21919C3.01147 5.90019 3.12839 6.73209 3.36222 8.3959L3.97458 12.7531C4.15588 14.0431 4.26689 14.833 4.50015 15.3978C4.50083 16.3151 4.50509 17.0849 4.53201 17.7448C4.13891 17.4561 3.79293 17.1036 3.50971 16.6991C2.89005 15.8142 2.71467 14.5663 2.36392 12.0706L2.00207 9.4959Z" fill="currentColor" fill-rule="evenodd"></path><g><g clip-path="url(#:r2:)"><rect fill="none" height="15.5" rx="3.75" stroke="currentColor" stroke-width="1.5" width="15.5" x="6.75" y="5.8894"></rect><path d="M6.6546 17.8894L8.59043 15.9536C9.1583 15.3857 10.0727 15.3658 10.6647 15.9085L12.5062 17.5966C12.9009 17.9584 13.5105 17.9451 13.8891 17.5665L17.8181 13.6376C18.4038 13.0518 19.3536 13.0518 19.9394 13.6375L22.0663 15.7644" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5"></path><circle cx="10.75" cy="9.8894" fill="currentColor" r="1.25"></circle></g></g></g><defs><clipPath id=":r2:"><rect fill="white" height="17" rx="4.5" width="17" x="6" y="5.1394"></rect></clipPath></defs></svg>
                                                    <input class="inset-0 pointer write-reply-pics" type="file" accept="image/*,video/*" name="UploadedFiles">
                                                </div>
                                                <emoji-box class="write-comment-btn-emoji px-2">
                                                    <div class="emoji-button">
                                                        <i class="fa-solid fa-face-smile"></i>
                                                    </div>

                                                </emoji-box>
                                                <div class="write-reply-btn-submit px-2" onclick="clickReplyBtn(this)">
                                                    <i class="fa-solid fa-paper-plane icon-submit"></i>
                                                </div>
                                            </div>
                                        </comment-reply>
                                    </form>
                                </div>
                                <div class="detail-separate-line"></div>
                            </div>
                            @*kết thúc 1 khung hội thoại*@
                        }
                    }
                    else
                    {
                        <div class="no-comment-wrapper">
                            <div class="no-comment">
                                There is no comment
                            </div>
                        </div>
                    }
                </comment-box>
            </thread-detail>
        </div>

    </div>
    <form id="commentForm" method="post">
        <comment-reply class="write-comment-wrapper flex flex-column">
            <div class="flex align-center w-full justify-content-around">
                <div class="write-comment-account">
                    <img src="@Model.currentAccount.Info.Image" class="write-comment-account-avt" />
                </div>
                <div class="write-comment-box-wrapper">
                    <div class="currentThreadId-origin" data-threadId="@Model.SelectedThread.ThreadId" hidden></div>
                    <div class="type-comment-origin" data-type="original" hidden></div>
                    <input placeholder="Post your comment..." type="text" name="comment" class="write-comment-box-content" />
                </div>
                <div class="create_image relative px-2 thread_main_icon heart">
                    <svg width="20" height="20" aria-label="Đính kèm file phương tiện" role="img" viewBox="0 0 24 24" class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn" style="--fill: currentColor; --height: 20px; --width: 20px;"><title>Đính kèm file phương tiện</title><g><path clip-rule="evenodd" d="M2.00207 9.4959C1.65132 7.00019 1.47595 5.75234 1.82768 4.73084C2.13707 3.83231 2.72297 3.05479 3.50142 2.50971C4.38639 1.89005 5.63425 1.71467 8.12996 1.36392L10.7047 1.00207C13.2004 0.651325 14.4482 0.47595 15.4697 0.827679C16.3682 1.13707 17.1458 1.72297 17.6908 2.50142C17.9171 2.82454 18.0841 3.19605 18.2221 3.65901C17.7476 3.64611 17.2197 3.64192 16.6269 3.64055C16.5775 3.5411 16.5231 3.44881 16.4621 3.36178C16.0987 2.84282 15.5804 2.45222 14.9814 2.24596C14.3004 2.01147 13.4685 2.12839 11.8047 2.36222L7.44748 2.97458C5.78367 3.20841 4.95177 3.32533 4.36178 3.73844C3.84282 4.10182 3.45222 4.62017 3.24596 5.21919C3.01147 5.90019 3.12839 6.73209 3.36222 8.3959L3.97458 12.7531C4.15588 14.0431 4.26689 14.833 4.50015 15.3978C4.50083 16.3151 4.50509 17.0849 4.53201 17.7448C4.13891 17.4561 3.79293 17.1036 3.50971 16.6991C2.89005 15.8142 2.71467 14.5663 2.36392 12.0706L2.00207 9.4959Z" fill="currentColor" fill-rule="evenodd"></path><g><g clip-path="url(#:r2:)"><rect fill="none" height="15.5" rx="3.75" stroke="currentColor" stroke-width="1.5" width="15.5" x="6.75" y="5.8894"></rect><path d="M6.6546 17.8894L8.59043 15.9536C9.1583 15.3857 10.0727 15.3658 10.6647 15.9085L12.5062 17.5966C12.9009 17.9584 13.5105 17.9451 13.8891 17.5665L17.8181 13.6376C18.4038 13.0518 19.3536 13.0518 19.9394 13.6375L22.0663 15.7644" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5"></path><circle cx="10.75" cy="9.8894" fill="currentColor" r="1.25"></circle></g></g></g><defs><clipPath id=":r2:"><rect fill="white" height="17" rx="4.5" width="17" x="6" y="5.1394"></rect></clipPath></defs></svg>
                    <input class="inset-0 write-comment-pics pointer" type="file" accept="image/*,video/*" name="UploadedFiles">
                </div>
                <emoji-box class="write-comment-btn-emoji px-2">
                    <div class="emoji-button">
                        <i class="fa-solid fa-face-smile"></i>
                    </div>
                </emoji-box>
                <div class="write-comment-btn-submit px-2">
                    <i class="fa-solid fa-paper-plane icon-submit"></i>
                </div>
            </div>
        </comment-reply>
    </form>
</body>
</html>
<script src="~/js/lib/swiper-bundle.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/lib/emojione.min.js"></script>
<script src="~/js/lib/tingle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/profile/detailpost.js"></script>
<script type="module" src="~/js/photoswipe.js"></script>
<script type="module" src="~/js/emoji.js"></script>


