@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="fluid_container">
    <div class="thread_wrapper">
        <div class="thread_post_header pointer py-20 px-25 align-center flex gap-10">
            <div class="user">
                <img width="48" height="48" class="avt-me" src="@Model.currentAccount.Info.Image" />
            </div>
            <popup-create class="create_post  flex-1">
                <span class="fs-15">Start threading........</span>
                <div class="content_popup">
                    <div class="create_thread hidden">
                        <form method="post" enctype="multipart/form-data">
                            <div class="msg-status" hidden data-msg="@ViewBag.msg"></div>
                            <div class=" py-15 px-25">
                                <div class="flex flex-cols gap-20 flex-wrap" style="--bs-gutter-x: 3rem">
                                    <div class="thread_info col-w-custom" style="width: 48px">
                                        <div class="flex h-full flex-column">
                                            <img width="48" height="48" class="avt-me" src="@Model.currentAccount.Info.Image" />
                                        </div>
                                    </div>
                                    <div class="thread_main col-w-custom" style="--col-width: calc(100% - 48px - 30px)">
                                        <div class="flex align-center justify-between">
                                            <h3 class="author flex align-center fs-16"></h3>
                                        </div>

                                        <div class="content">
                                            <textarea asp-for="Thread.Content" is="custom-text" id="my-textarea" rows="2" placeholder="Start threading........" type="text"></textarea>
                                        </div>


                                        <div class="thread_main_icon  flex gap-15 ">
                                            <div class="create_image relative heart">
                                                <svg width="20" height="20" aria-label="Đính kèm file phương tiện" role="img" viewBox="0 0 24 24" class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn" style="--fill: currentColor; --height: 20px; --width: 20px;"><title>Đính kèm file phương tiện</title><g><path clip-rule="evenodd" d="M2.00207 9.4959C1.65132 7.00019 1.47595 5.75234 1.82768 4.73084C2.13707 3.83231 2.72297 3.05479 3.50142 2.50971C4.38639 1.89005 5.63425 1.71467 8.12996 1.36392L10.7047 1.00207C13.2004 0.651325 14.4482 0.47595 15.4697 0.827679C16.3682 1.13707 17.1458 1.72297 17.6908 2.50142C17.9171 2.82454 18.0841 3.19605 18.2221 3.65901C17.7476 3.64611 17.2197 3.64192 16.6269 3.64055C16.5775 3.5411 16.5231 3.44881 16.4621 3.36178C16.0987 2.84282 15.5804 2.45222 14.9814 2.24596C14.3004 2.01147 13.4685 2.12839 11.8047 2.36222L7.44748 2.97458C5.78367 3.20841 4.95177 3.32533 4.36178 3.73844C3.84282 4.10182 3.45222 4.62017 3.24596 5.21919C3.01147 5.90019 3.12839 6.73209 3.36222 8.3959L3.97458 12.7531C4.15588 14.0431 4.26689 14.833 4.50015 15.3978C4.50083 16.3151 4.50509 17.0849 4.53201 17.7448C4.13891 17.4561 3.79293 17.1036 3.50971 16.6991C2.89005 15.8142 2.71467 14.5663 2.36392 12.0706L2.00207 9.4959Z" fill="currentColor" fill-rule="evenodd"></path><g><g clip-path="url(#:r2:)"><rect fill="none" height="15.5" rx="3.75" stroke="currentColor" stroke-width="1.5" width="15.5" x="6.75" y="5.8894"></rect><path d="M6.6546 17.8894L8.59043 15.9536C9.1583 15.3857 10.0727 15.3658 10.6647 15.9085L12.5062 17.5966C12.9009 17.9584 13.5105 17.9451 13.8891 17.5665L17.8181 13.6376C18.4038 13.0518 19.3536 13.0518 19.9394 13.6375L22.0663 15.7644" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5"></path><circle cx="10.75" cy="9.8894" fill="currentColor" r="1.25"></circle></g></g></g><defs><clipPath id=":r2:"><rect fill="white" height="17" rx="4.5" width="17" x="6" y="5.1394"></rect></clipPath></defs></svg>
                                                <input class="inset-0" type="file" accept="image/*,video/*" name="UploadedFiles" multiple />
                                            </div>
                                            <div class="comment">
                                                <svg width="20" height="20" aria-label="Thêm file GIF" role="img" viewBox="0 0 24 24" class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn" style="--fill: currentColor; --height: 20px; --width: 20px;"><title>Thêm file GIF</title><svg fill="none" height="24" title="123" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><title>Biểu tượng Nút chọn file GIF</title><g clip-path="url(#:r3:)"><path d="M20.6472 13.7545L21.2766 14.1623L20.6472 13.7545C20.4715 14.0256 20.2404 14.2752 19.647 14.9058L15.4667 19.3473C14.7767 20.0804 14.5029 20.3659 14.1962 20.5791C13.785 20.8649 13.3208 21.0655 12.8308 21.169C12.4654 21.2462 12.0698 21.25 11.0631 21.25C9.62515 21.25 8.58506 21.2496 7.76313 21.1923C6.94813 21.1356 6.40373 21.0256 5.95094 20.8336C4.69662 20.3019 3.69812 19.3034 3.16638 18.0491C2.97444 17.5963 2.86444 17.0519 2.80767 16.2369C2.75042 15.4149 2.75 14.3748 2.75 12.9369V11.6C2.75 9.90747 2.75058 8.68317 2.82925 7.72029C2.90721 6.76615 3.05809 6.13493 3.32222 5.61655C3.82555 4.6287 4.6287 3.82555 5.61655 3.32222C6.13493 3.05809 6.76615 2.90721 7.72029 2.82925C8.68317 2.75058 9.90747 2.75 11.6 2.75H13.1363C14.48 2.75 15.4519 2.75037 16.2211 2.80049C16.984 2.8502 17.4953 2.94657 17.9222 3.11455C19.2784 3.64817 20.3518 4.72155 20.8855 6.07779C21.0534 6.50473 21.1498 7.01596 21.1995 7.77888C21.2496 8.54813 21.25 9.52002 21.25 10.8637C21.25 11.7295 21.2472 12.0697 21.1893 12.3875C21.1006 12.8745 20.9163 13.3391 20.6472 13.7545Z" stroke="currentColor" stroke-width="1.5"></path><path d="M13 21V19.3784V19.3784C13 15.8557 15.8557 13.0001 19.3784 13.0002V13.0002H21" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5"></path><path d="M8.33957 11.406C6.68121 11.406 5.69995 10.432 5.69995 8.69756C5.69995 6.98488 6.68121 6 8.2925 6C9.33894 6 10.1283 6.44899 10.4361 6.99936C10.5121 7.14058 10.5411 7.26369 10.5411 7.39404C10.5411 7.77785 10.2731 8.04218 9.88207 8.04218C9.58153 8.04218 9.35342 7.92631 9.16513 7.67647C8.91891 7.34697 8.66907 7.20937 8.29974 7.20937C7.64798 7.20937 7.26417 7.74526 7.26417 8.67583C7.26417 9.62812 7.7023 10.1966 8.37578 10.1966C8.87546 10.1966 9.23031 9.91779 9.27376 9.49777L9.281 9.42535H8.98047C8.63648 9.42535 8.41199 9.24431 8.41199 8.91481C8.41199 8.58531 8.63286 8.40426 8.98047 8.40426H9.99069C10.4795 8.40426 10.7583 8.69393 10.7583 9.2081C10.7583 10.4501 9.89655 11.406 8.33957 11.406Z" fill="currentColor"></path><path d="M12.5259 11.406C12.0371 11.406 11.7583 11.1163 11.7583 10.6021V6.80384C11.7583 6.28967 12.0371 6 12.5259 6C13.0147 6 13.2936 6.28967 13.2936 6.80384V10.6021C13.2936 11.1163 13.0147 11.406 12.5259 11.406Z" fill="currentColor"></path><path d="M15.3112 11.3606C14.8224 11.3606 14.5436 11.0709 14.5436 10.5568V6.849C14.5436 6.33484 14.8224 6.04517 15.3112 6.04517H17.6105C18.0232 6.04517 18.2876 6.26604 18.2876 6.65709C18.2876 7.04815 18.016 7.26902 17.6105 7.26902H16.0788V8.26839H17.4548C17.8386 8.26839 18.0848 8.4784 18.0848 8.84411C18.0848 9.20981 17.8458 9.41983 17.4548 9.41983H16.0788V10.5568C16.0788 11.0709 15.8 11.3606 15.3112 11.3606Z" fill="currentColor"></path></g><defs><clipPath id=":r3:"><rect fill="white" height="20" transform="translate(2 2)" width="20"></rect></clipPath></defs></svg></svg>
                                            </div>
                                            <div class="re-post">
                                                <svg aria-label="Thêm thẻ" width="20" height="20" role="img" viewBox="1 1 22 22" class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn x73je2i x1owpc8m xhr4kjn" style="--fill: currentColor; --height: 20px; --width: 20px;"><title>Thêm thẻ</title><path d="M5 8.50012H20"></path><path d="M4 15.0001H20"></path><path d="M7.59985 19.9399L10.3999 4.06036"></path><path d="M13.5999 19.9399L16.3999 4.06036"></path></svg>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex align-center pb-20">
                                    <div class="thread_bottom flex overflow-hidden" style="height: 28px; display:none">
                                        <div style="width: 48px" class="flex align-center justify-content-center">
                                            <img width="16" height="16" />
                                        </div>
                                        <div class="flex ml-10 bls_like_thread">
                                            <div class="thread_comments fs-15">
                                                <span class="" style="margin-left: 5px;">Thêm vào Thread </span>
                                            </div>


                                        </div>



                                    </div>
                                    <button style="margin-left: auto;background-color: #0a0a0a;" class="button_create px-15 py-2">
                                        Đăng
                                    </button>
                                </div>
                                <slide-section class="swiper w-full"
                                               data-autoplay="false"
                                               data-effect="slide"
                                               data-loop="false"
                                               data-speed="800"
                                               data-autoplay-speed="5"
                                               data-spacing="10"
                                               data-mobile="1"
                                               data-tablet="2"
                                               data-desktop="2"
                                               data-pagination-progressbar="false"
                                               id="create">
                                    <div class="swiper-wrapper" id="gallery--getting-started-create">
                                    </div>
                                </slide-section>
                            </div>
                        </form>
                    </div>
                </div>

            </popup-create>
            <div class="button_create px-15 py-2">
                Đăng
            </div>

        </div>

        @foreach (var thread in Model.Threads)
        {
            <thread-main data-id="@thread.ThreadId" data-react="@(Model.dicReact[thread.ThreadId.ToString()] == true ? @thread.React - 1 : @thread.React + 1)" class="flex flex-column py-15 px-25 thread-no-@thread.ThreadId">
                <div class="flex flex-cols gap-20 flex-wrap">
                    <div class="thread_info col-w-custom" style="width: 48px">
                        <div class="flex h-full flex-column">
                            <img width="48" height="48" class="avt-author" src="@thread.Account.Info.Image" />
                            <div class="line_main mx-auto flex-1 hidden">
                            </div>
                        </div>


                    </div>
                    <div class="thread_main col-w-custom" style="--col-width: calc(100% - 48px - 30px)">
                        <div class="flex align-center justify-between">
                            <h3 class="author flex align-center fs-16" data-submit-date="@thread.SubmitDate.ToString("yyyy-MM-ddTHH:mm:ss.fffffff")">
                                <a class="show-specific-profile" href="/profile?userId=@thread.Account.UserID">@thread.Account.Info.userName </a>
                                <span class="time-elapsed"></span> 
                            </h3>
                            <div class="relative ">
                                <icon class="pointer more_options flex align-center justify-content-center rounded-50">
                                    <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24" class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn" style="fill: #777777; --height: 20px; --width: 20px;"><title>Xem thêm</title><circle cx="12" cy="12" r="1.5"></circle><circle cx="6" cy="12" r="1.5"></circle><circle cx="18" cy="12" r="1.5"></circle></svg>
                                </icon>
                                <div class="absolute rounded-style rounded-10 thread_settings rounded-10 top-30 right-0" style="border-radius: 10px;">
                                    <ul class="list-unstyled rounded-10">
                                        <li class="fs-16 rounded-10 header_last_text p-15">
                                            <a href="#" class="text-decoration-none">
                                                Lưu
                                            </a>

                                        </li>
                                        <li class="fs-16 rounded-10 header_last_text p-15">
                                            <a href="#" class="text-decoration-none">
                                                Không quan tâm
                                            </a>

                                        </li>
                                        <li class="fs-16 rounded-10 header_last_text p-15">
                                            <a href="#" class="text-decoration-none">
                                                Tắt thông báo
                                            </a>

                                        <li>
                                        <li class="fs-16   rounded-10 header_last_text p-15">
                                            <a href="#" class="text-decoration-none">
                                                Bỏ theo dõi
                                            </a>

                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                        <div class="link-detail">
                            <a href="/detailpost?threadId=@thread.ThreadId" class="content w-full content-text text-decoration-none">
                                @thread.Content
                            </a>
                            @if (thread.ThreadImages.Count != 0)
                            {
                                <div class="slide-image w-full">
                                    <slide-section class="swiper w-full free-scroll"
                                                   data-section-id="template--16740126261401__collection_list_VmEYkJ"
                                                   data-autoplay="false"
                                                   data-effect="slide"
                                                   data-loop="false"
                                                   data-speed="800"
                                                   data-autoplay-speed="5"
                                                   data-spacing="10"
                                                   data-mobile="1"
                                                   data-tablet="2"
                                                   data-desktop="1.5"
                                                   data-free-scroll="true"
                                                   data-pagination-progressbar="false"
                                                   id="@thread.ThreadId">
                                        <div class="swiper-wrapper" id="gallery--getting-started-@thread.ThreadId">
                                            @foreach (var i in thread.ThreadImages)
                                            {
                                                <div class="swiper-slide">
                                                    @if (i.Media.EndsWith("mp4"))
                                                    {
                                                        <custom-media class="h-full pointer d-block">
                                                            <video src="@i.Media" controls></video>
                                                        </custom-media>
                                                    }
                                                    else
                                                    {
                                                        <custom-media class="h-full rounded-style  overflow-hidden">
                                                            <a data-pswp-src="@i.Media">
                                                                <img src="@i.Media" class="w-full rounded-10" />
                                                            </a>
                                                        </custom-media>
                                                    }
                                                </div>
                                            }

                                        </div>
                                    </slide-section>
                                </div>
                            }
                        </div>
                        <div class="thread_main_icon mt-10 flex gap-15 ">
                            <div class="heart @(Model.dicReact[thread.ThreadId.ToString()] == true ? "reacted" : "")">
                                <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22" style="--fill: transparent; --height: 19px; --width: 20px;"><title>Thích</title><path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z"></path></svg>

                            </div>
                            <comment-popup class="comment">
                                <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24" style="--fill: currentColor; --height: 20px; --width: 20px;"><title>Trả lời</title><path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path></svg>
                                <div class="create_comment hidden">
                                    <div class="flex flex-column py-15 px-25">
                                        <div class="flex flex-cols gap-20 flex-wrap">
                                            <div class="thread_info col-w-custom" style="width: 48px">
                                                <div class="flex h-full flex-column">
                                                    <img width="48" height="48" />
                                                    <div class="line_main mx-auto flex-1">
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="thread_main col-w-custom" style="--col-width: calc(100% - 48px - 30px)">
                                                <div class="flex align-center justify-between">
                                                    <h3 class="author flex align-center fs-16" data-submit-date="@thread.SubmitDate.ToString("yyyy-MM-ddTHH:mm:ss.fffffff")"> @thread.Account.Info.userName <span class="time-elapsed"></span> </h3>

                                                </div>
                                                <div class="link-detail">
                                                    <div class="content w-full content-text">
                                                        @thread.Content
                                                    </div>
                                                    @if (thread.ThreadImages.Count != 0)
                                                    {
                                                        <div class="slide-image w-full">
                                                            <slide-section class="swiper w-full free-scroll"
                                                                           data-section-id="template--16740126261401__collection_list_VmEYkJ"
                                                                           data-autoplay="false"
                                                                           data-effect="slide"
                                                                           data-loop="false"
                                                                           data-speed="800"
                                                                           data-autoplay-speed="5"
                                                                           data-spacing="10"
                                                                           data-mobile="1"
                                                                           data-tablet="2"
                                                                           data-desktop="1.5"
                                                                           data-free-scroll="true"
                                                                           data-pagination-progressbar="false"
                                                                           id="@thread.ThreadId">
                                                                <div class="swiper-wrapper" id="gallery--getting-started-@thread.ThreadId">
                                                                    @foreach (var i in thread.ThreadImages)
                                                                    {
                                                                        <div class="swiper-slide">
                                                                            @if (i.Media.EndsWith("mp4"))
                                                                            {
                                                                                <custom-media class="h-full pointer d-block">
                                                                                    <video src="@i.Media" controls></video>
                                                                                </custom-media>
                                                                            }
                                                                            else
                                                                            {
                                                                                <custom-media class="h-full pointer d-block">
                                                                                    <a data-pswp-src="@i.Media">
                                                                                        <img src="@i.Media" class="w-full" />
                                                                                    </a>
                                                                                </custom-media>
                                                                            }
                                                                        </div>
                                                                    }

                                                                </div>
                                                            </slide-section>
                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </comment-popup>
                            <div class="re-post">
                                <svg width="20" height="19" aria-label="Đăng lại" role="img" viewBox="0 0 24 24" style="--fill: currentColor; --height: 20px; --width: 20px; stroke-width: 1.2;"><title>Đăng lại</title><path d="M19.998 9.497a1 1 0 0 0-1 1v4.228a3.274 3.274 0 0 1-3.27 3.27h-5.313l1.791-1.787a1 1 0 0 0-1.412-1.416L7.29 18.287a1.004 1.004 0 0 0-.294.707v.001c0 .023.012.042.013.065a.923.923 0 0 0 .281.643l3.502 3.504a1 1 0 0 0 1.414-1.414l-1.797-1.798h5.318a5.276 5.276 0 0 0 5.27-5.27v-4.228a1 1 0 0 0-1-1Zm-6.41-3.496-1.795 1.795a1 1 0 1 0 1.414 1.414l3.5-3.5a1.003 1.003 0 0 0 0-1.417l-3.5-3.5a1 1 0 0 0-1.414 1.414l1.794 1.794H8.27A5.277 5.277 0 0 0 3 9.271V13.5a1 1 0 0 0 2 0V9.271a3.275 3.275 0 0 1 3.271-3.27Z"></path></svg>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="thread_bottom mt-10 flex overflow-hidden " style="height: 28px;">
                    <div style="width: 48px" class="flex align-center justify-content-center">
                        <img width="16" height="16" hidden/>
                    </div>
                    <div class="flex ml-10 bls_like_thread">
                        <div class="thread_comments fs-15">
                            <span>@Model.dicThreadComment[thread.ThreadId.ToString()]</span><span class="" style="margin-left: 5px;">Comments</span>
                        </div>
                        <span class="dots px-2">&nbsp;·&nbsp;</span>
                        <div class="thread_likes flex">
                            <div class="hidden thread-id">@thread.ThreadId</div>
                            <div class="number transition flex flex-column">
                                <div class="main_number transition fs-15">
                                    @thread.React
                                </div>
                            </div>
                            <span style="margin-left: 5px;" class="fs-15">lượt thích</span>
                        </div>
                    </div>


                </div>


            </thread-main>
        }


    </div>
